$first-color: rgb(27, 0, 100);
$second-color: yellow;
$header-color: lightblue;
$footer-color: rgb(82, 82, 223);
$mainInfo-color: rgb(59, 58, 145);
$text-color: white;
$mainbody-color: rgb(145, 136, 136);
$gradient-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);




