
.container__title {
    color: $text-color;
    padding-left: 10px;
    background-color: $mainInfo-color;
    margin-bottom: 0px;
}

.container__title--list {
    li {
        list-style: none;
    }
    
}

.personal__info-style {
    padding: 10px;
    margin-bottom: 0px;
    list-style: none;

}


/*EXPERIENCE*/

.experience__company {
    font-weight: bold;
}

.experience__description {
    font-weight: lighter;
    
}



/*LANGUAGES*/

.container__title--list {
    padding-left: 0px;
}



/*SKILLS*/

#skills,
#languages,
#experience,
#studies,
#personalInfo {
    padding-left: 0;
    padding-right: 0;    
}

#skills,
#languages,
#experience,
#studies {
    height: 300px;
}



.progress__bar-title{
    width: 80%;
    font-size: 70%;
    font-weight: 700;
    color: #1c2647;
    margin: 0 auto;
    
    
}
#skills__progreso {
    width: 75%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    margin-bottom: 10px;
    padding-left: 0;
}

.progress__bar {
    width: 100%;
    background-color: #ffffff;
    /*padding: 6px 50px 6px 6px;*/
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    
}


.progress__bar-main {
    width: 70%;
    display: block;
    height: 22px;
    background-color: #d4e4df;
    border-radius: 3px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-name: first-bar;
 
}


.progress__bar-main-second {
    width: 60%;
    display: block;
    height: 22px;
    background-color: #d4e4df;
    border-radius: 3px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-name: second-bar; 
}

.progress__bar-main-three {
    width: 60%;
    display: block;
    height: 22px;
    background-color: #d4e4df;
    border-radius: 3px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-name: three-bar; 
}

.progress__bar-main-four {
    width: 60%;
    display: block;
    height: 22px;
    background-color: #d4e4df;
    border-radius: 3px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-name: four-bar; 
}

@keyframes first-bar {
    0%   {background-color: #01b698; width: 0%}
    100% {background-color: #01b698; width: 70%}
    
}

@keyframes second-bar {
    0%   {background-color: #01b698; width: 0%}
    100% {background-color: #01b698; width: 60%}    
}

@keyframes three-bar {
    0%   {background-color: #01b698; width: 0%}
    100% {background-color: #01b698; width: 40%}    
}

@keyframes four-bar {
    0%   {background-color: #01b698; width: 0%}
    100% {background-color: #01b698; width: 20%}    
}